<div style="margin: 10px;">
<a href="/umedia/datos_fotocopiadora/nuevo_datos_fotocopiadora" class="button"><span><span><strong>Volver</strong></span></span></a>
<p><br/></p> 
<p><br/></p> 
<!-- START lista_fotocopiadora -->
<form method="POST" id="reg-form" action="/umedia/datos_fotocopiadora/actualizar_datos_fotocopiadora?id={id}" style="border: solid 1px #d3d3d3;padding: 20px;width: 350px;margin: 0 auto;background: #eeeeee;">
	<h4>Actualizar datos</h4>
	<p><br/></p> 
	Nombre de la fotocopiadora: <input name="nombre" type="text" style="width: 100%;padding: 4px;" value="{nombre}" required><br/>
	Nombre del encargado/a : <input name="encargado" type="text" style="width: 100%;padding: 4px;" value="{encargado}" required><br/>
	teléfono: <input name="telefono" type="text" style="width: 100%;padding: 4px;" value="{telefono}" required><br/>
	Correo: <input name="correo" type="email" style="width: 100%;padding: 4px;" value="{correo}" required><br/>
	Dirección: <input name="direccion" style="width: 100%;padding: 4px;" type="text" value="{direccion}" required><br/><br/>
	<button type="submit" class="button">Actualizar Fotocopiadora</button>
</form>
<!-- END lista_fotocopiadora -->
</div>
<p><br/></p> 
<p><br/></p> 