
<div class="tile bg2">
	{contenidoDinamico}
</div>
<div class="tile bg1" style="text-align:center;float:left;margin: 25px;">
	<a href="/umedia/datos_fotocopiadora/nuevo_datos_fotocopiadora" class="button"><span><span><strong>Fotocopiadoras afiliadas</strong></span></span></a><br/><br/>
	<img src="../static/img/printer.png">
</div>
<div class="tile bg2" style="text-align:center;float:left;margin: 25px;">
	<a href="/umedia/abastecimiento/nuevo_abastecimiento" class="button"><span><span><strong>Abastecimiento de fotocopiadoras</strong></span></span></a><br/><br/>
	<img src="../static/img/abastecer.png">
</div>
<div class="tile bg1"  style="text-align:center;float:left;margin: 25px;">
	<a href="/umedia/usuario/usuario_fotocopiadora" class="button"><span><span><strong>Usuarios</strong></span></span></a><br/><br/>
	<img src="../static/img/user.png">
</div>
<div class="tile bg2"  style="text-align:center;float:left;margin: 25px;">
	<a href="/umedia/usuario/estadisticas" class="button"><span><span><strong>Estadísticas</strong></span></span></a><br/><br/>
	<img src="../static/img/chart.png">
</div>
<div style="clear: both;"></div>
<p><br/></p>
Otras opciones:
<a href="/umedia/usuario/lista">Códigos de barra</a> | 
<a href="/umedia/system/parametros">Parámetros del sistema</a>
<p><br/></p>