<a href="/umedia/system/principal" class="button"><span><span><strong>Volver</strong></span></span></a>
<!-- START system -->
<form method="post" action="/umedia/system/guardar_configuracion" style="border: solid 1px #d3d3d3;padding: 20px;width: 400px;margin: 0 auto;background: #eeeeee;">
	<input type="hidden" value="{id}" name="id" />
	<br/>
	Cantidad de copias disponibles para los usuarios
	<input type="text" value="{cantidad_copias}" style="width: 100%;padding: 4px;" name="cantidad_copias" /> 
	<br/>
	Mínimo de copias admisibles en fotocopiadoras
	<input type="text" value="{minimo_copias}" style="width: 100%;padding: 4px;" name="minimo_copias" /> 
	<br/>
	Día de la semana cuando se renuevan las copias a los usuarios
	<select id="dia_referencia" style="width: 100%;padding: 4px;" name="dia_referencia">
		<option value="1">
			Lunes
		</option>
		<option value="2">
			Martes
		</option>
		<option value="3">
			Miércoles
		</option>
		<option value="4">
			Jueves
		</option>
		<option value="5">
			Viernes
		</option>
		<option value="6">
			Sábado
		</option>
		<option value="7">
			Domingo
		</option>
	</select>
	
	<br/>
	<br/>
	<button type="submit" class="button"> Guardar cambios</button>
</form>
<script type="text/javascript">
	$(document).ready(function(){
		$('#dia_referencia').val({dia_referencia});
	});
</script>
<!-- END system -->