<script type="text/javascript">
	 $(document).ready(function(){
	    var urlHandler = new url_handler();
	    urlHandler.initialize();
	    if(urlHandler.isKey("status")){
	      switch(urlHandler.getValue("status")){
	        case "ok":
	          alert("Se han guardado sus cambios!");
	          break;
	      }
	    }
	    if(urlHandler.isKey("error")){
	      switch(urlHandler.getValue("error")){
	        case "nomatch":
	          alert("ERROR: La calve actual no coincide!");
	          break;
	        case "passmissmatch":
	          alert("ERROR: Las claves no coinciden!");
	          break;  
	        case "same":
	          alert("ERROR: La clave actual y la nueva son iguales");
	          break;
	        case "lenght":
	          alert("ERROR: La nueva clave no tiene la longitud minima");
	          break;     
	      }
	    }
	  });
</script>
<br/>
<a href="/umedia/system/principal" class="button"><span><span>Volver</span></span></a>
<br/>
<br/>
<h4>Edita tu información</h4>
<hr/>
<div class="tile bg2">
<p>
	<strong>Usuario:</strong> {correo}
	<br/>
	<strong>Nombre:</strong> {nombre}
	<br/>
	<strong>Rol:</strong> {rol}
</p>
<br/><br/>
<h4>Cambio de clave</h4>
<hr/>
<form  method="post" action="/umedia/usuario/cambiar_password" style="border: solid 1px #d3d3d3;padding: 20px;width: 300px;margin: 0 auto;background: #eeeeee;">
 	Clave actual: <input type="password" style="width: 100%;padding: 4px;" name="actual" />
 	<br/>
 	Nueva clave: <input type="password" style="width: 100%;padding: 4px;" name="nueva" />
 	<br/>
 	Repita su clave: <input type="password" style="width: 100%;padding: 4px;" name="repeticion" />
 	<br/>
 	<br/>
 	<button type="submit" class="button">Guardar</button>
</form>
</div>