<a href="/umedia/system/principal" class="button"><span><span><strong> Volver </strong></span></span></a>
<br/>
<br/>
<div>
	Para referencias y cálculos de porcentajes: el total de usuarios registrados es de <strong>{total}</strong> personas
</div>
<style type="text/css">
	.tile{
		width: 450px;
		text-align: center;
		margin: 0 auto;
	}
</style>
<p><br/></p>
<p><br/></p>
<div>
<table class="tile">
	<thead>
		<tr>
			<th>Sexo</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START sexo -->
		<tr>
			<td>{s_{sexo}}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END sexo -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Carrera</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START carrera -->
		<tr>
			<td>{carrera}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END carrera -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Marca de ropa preferida</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START marca_ropa -->
		<tr>
			<td>{marca_ropa}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END marca_ropa -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Marca de zapatos preferida</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START marca_zapatos -->
		<tr>
			<td>{marca_zapatos}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END marca_zapatos -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Marca de cosméticos preferida</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START marca_cosmeticos -->
		<tr>
			<td>{marca_cosmeticos}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END marca_cosmeticos -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Departamento</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START departamento -->
		<tr>
			<td>{departamento}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END departamento -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Ciudad</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START ciudad -->
		<tr>
			<td>{ciudad}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END ciudad -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Universidad</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START universidad -->
		<tr>
			<td>{universidad}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END universidad -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Tipo de transporte</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START tipo_transporte -->
		<tr>
			<td>{tipo_transporte}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END tipo_transporte -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Compañia de telefono</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START compania_telefono -->
		<tr>
			<td>{compania_telefono}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END compania_telefono -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Comida rápida preferida</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START comida_rapida -->
		<tr>
			<td>{comida_rapida}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END comida_rapida -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Banco</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START nombre_banco -->
		<tr>
			<td>{nombre_banco}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END nombre_banco -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Tipo de cuenta</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START tipo_cuenta -->
		<tr>
			<td>{tipo_cuenta}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END tipo_cuenta -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Primer pasatiempo</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START pasatiempo_1 -->
		<tr>
			<td>{pasatiempo_1}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END pasatiempo_1 -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Segundo pasatiempo</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START pasatiempo_2 -->
		<tr>
			<td>{pasatiempo_2}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END pasatiempo_2 -->
	</thead>
</table>
<p><br/></p>
<table class="tile">
	<thead>
		<tr>
			<th>Tercer pasatiempo</th>
			<th  style="width: 75px;">Cantidad</th>
		</tr>
		<!-- START pasatiempo_3 -->
		<tr>
			<td>{pasatiempo_3}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END pasatiempo_3 -->
	</thead>
</table>
</div>