<div>
	<h2>Copias disponibles: {n_copias}</h2>
</div>
<p><br/></p>

<div class="tile bg2">
	<h4>Datos del Local</h4>
	<p><br/>
	<table style="width: 500px; margin: 0 auto;">
		<tr>
		<td><strong>Nombre:</strong></td> <td>{nombre}</td>
		</tr>
		<tr>
		<td><strong>Encargado:</strong></td><td> {encargado}</td>
		</tr>
		<tr>
		<td><strong>Dirección:</strong></td><td> {direccion}</td>
		</tr>
		<tr>
		<td><strong>Teléfono:</strong></td><td> {telefono}</td>
		</tr>
	</table>
</div>
<p><br/></p>
<p><br/></p>
<div class="tile">
	<h4>Opciones de administración</h4>
	<p><br/></p>
	<p><br/></p>
	<a href="/umedia/control_copia/nuevo_despacho" class="button"><span><span><strong>Despacho</strong></span></span></a>
	
	<a href="/umedia/abastecimiento/pedidos_pendientes" class="button"><span><span><strong>Confirmación de abastecimiento (Pendientes: {pendientes})</strong></span></span></a>
	
	<a href="/umedia/usuario/editar" class="button"><span><span><strong>Editar mi cuenta</strong></span></span></a>
</div>

<p><br/></p><p><br/></p>
