<div class="wrapper">

					<div class="pad1 pad_top1">

						<article class="cols marg_right1">

							<figure><a href="#"><img src="../static/images/page1_img1.jpg" alt=""></a></figure>

							<span class="font1">Universidades Afiliadas</span>

						</article>

						<article class="cols marg_right1">

							<figure><a href="/umedia/system/registro"><img src="../static/images/page1_img2.jpg" alt=""></a></figure>

							<span class="font1">Registrate</span>

						</article>

						<article class="cols">

							<figure><a href="#"><img src="../static/images/page1_img3.jpg" alt=""></a></figure>

							<span class="font1">Beneficios</span>

						</article>

					</div>

				</div>

				<div class="box1">

					<div class="wrapper">

						<article class="col1">

							<div class="pad_left1">

								<h2>Bienvenido/A !</h2>
								<p><br/></p>
								<p class="font2">Ahora tendrás la oportunidad de obtener tus fotocopias sin costo<span></span></p>

								<p>Puedes sacar 25 COPIAS GRATIS por semana! Inscríbete para obtener tu código y luego con tu tarjeta UMEDIA podrás ahorrarte el dinero de tus copias y acceder a otros beneficios para jóvenes con nuestras marcas patrocinadoras!</p>

							</div>

							<a href="#" class="button"><span><span>Read More</span></span></a>
							<p><br/></p>
							<div class="pad_left1">

								<h2>Publicidad Altamente Dirigida!</h2>

							</div>

							<div class="wrapper">

								<figure class="left marg_right1"><img src="../static/images/page1_img4.jpg" alt=""></figure>

								<strong>Freevertising</strong>

								<p class="pad_bot1 pad_top2"><strong></strong></p>

								<p>Somos un medio publicitario especializados en entregar a  nuestros clientes una audiencia juvenil, partiendo de la distribución de su  publicidad en copias gratis para jóvenes universitario de la capital, esto  permite mantener o posicionar su marca en la mente de los jóvenes.&#13;</p>

</div>

							<div class="pad_top2">

								<a href="#" class="button"><span><span>Read More</span></span></a>

							</div>

						</article>

						<article class="col2 pad_left2">

							<div class="pad_left1">

								<h2>campaÑas</h2>
								<p><br/></p>
							</div>

							<ul class="list1">

								<li><a href="#">Próximamente</a><a href="#"></a></li>

							</ul>

							<div class="pad_left1">

								<h2>Noticias</h2>

							</div>

							<div class="wrapper">

								<span class="date">27</span>

								<p class="pad_top2"><a href="#">Octubre, 2014</a><br>

										Sed utirspiciatis unde omnis iste natus error sit...</p>

							</div>

							<div class="wrapper">

								<span class="date">25</span>

								<p class="pad_top2"><a href="#">Noviembre, 2014</a><br>

										Voluptatem accusan dolore mque laudantium...</p>

							</div>

							<div class="pad_top2">

								<a href="#" class="button"><span><span>Read More</span></span></a>

							</div>

						</article>

					</div>

				</div>