
	<!-- Lo de FB -->
	<script>


  $(document).ready(function(){
    var urlHandler = new url_handler();
    urlHandler.initialize();
    if(urlHandler.isKey("status")){
      switch(urlHandler.getValue("status")){
        case "ok":
          alert("Registro ingresado exitosamente!");
          break;
      }
    }
    if(urlHandler.isKey("error")){
      switch(urlHandler.getValue("error")){
        case "extuser":
          alert("ERROR: El correo que ha ingresado ya ha sido usado por otra persona!");
          break;
        case "passmissmatch":
          alert("ERROR: Las claves no coinciden!");
          break;  
        case "500":
          alert("Error interno");
          break;    
      }
    }
  });

  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{your-app-id}',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>
	<!-- Fin de lo de FB -->
	<form id="login-form" method="post" action="/umedia/system/iniciar_sesion" style="border: solid 1px #d3d3d3;padding: 20px;width: 300px;margin: 0 auto;background: #eeeeee;">
	<h4>Iniciar sesión</h4>
		<label>Correo <input type="text" name="correo" style="width: 100%;padding: 4px;" /></label>
		<br/>
		<label>Clave <input type="password" style="width: 100%;padding: 4px;" name="clave"/></label>
		<br/>
		<button class="button" type="submit">Entrar</button>
	</form>
<p><br/></p>
	<!-- Para logearse: Basico -->
	<form method="POST" id="reg-form" action="/umedia/usuario/guardar_usuario" style="border: solid 1px #d3d3d3;padding: 20px;width: 300px;margin: 0 auto;background: #eeeeee;">
	<h4>Aún no te has registrado?</h4>
	<br>
	Primer nombre: <input type="text" style="width: 100%;padding: 4px;" name="primer_nombre" required>
	<br/>
	Segundo nombre: <input type="text" style="width: 100%;padding: 4px;" name="segundo_nombre">
	<br/>
	Primer apellido: <input type="text" style="width: 100%;padding: 4px;" name="primer_apellido" required>
	<br/>
	Segundo apellido: <input type="text" style="width: 100%;padding: 4px;" name="segundo_apellido">
	<br/>
	Correo: <input type="text" style="width: 100%;padding: 4px;" name="correo"/>
	<br/>
	Fecha de nacimiento: <input type="date" style="width: 100%;padding: 4px;" name="fecha_nacimiento" required>
	<br/>
	Clave: <input type="password" style="width: 100%;padding: 4px;" name="clave" required/>
	<br/>
	Repetir Clave: <input type="password" style="width: 100%;padding: 4px;" name="clave2" required/>
	<br/>
	<br/>
	<button class="button" type="submit">Registrar</button>
	</form>