{paginacion}
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Correo</th>
			<th>Opciones</th>
		</tr>
	</thead>
	<!-- START usuario -->
	<tr>
		<td>{id}</td>
		<td>{correo}</td>
		<td><a href="/umedia/usuario/codigo_barra?id={id}">Generar código</a></td>
	</tr>
	<!-- END usuario -->
</table>