<a href="/umedia/system/principal" class="button"><span><span><strong>Volver</strong></span></span></a>
<br/>
<br/>
<h2>Control de abastecimiento de fotocopiadoras</h2>
<p>Gestione las copias que son entregadas a las fotocopiadoras afiliadas</p>
<div style="display: table; width: 100%;">
<div style="float: left;margin: 20px;">
<h4>Listado de fotocopiadoras</h4>
<p><br/></p>
<table>
<thead>
	<tr>
	<th>Fotocopiadora</th>
	<th>Encargado</th>
	<th>Copias disponibles</th>
	<th>Copias a agregar</th>
	<th>Abastecer</th>
	</tr>
</thead>
<tbody>
	<!-- START lista_fotocopiadora -->
	<tr>
		<td>{nombre}</td>
		<td>{encargado}</td>
		<td>{copias_disponibles}</td>
		<form method="post" action="/umedia/abastecimiento/abastecer">
		<input type="hidden" value="{id}" name="fotocopiadora" >
		<td><input type="text" style="width:50px; border: solid 1px #d3d3d3;" name="cantidad"></td>
		<td><button type="submit" class="button">Abastecer</button></td>
		</form>
	</tr>
	<!-- END lista_fotocopiadora -->
</tbody>
</table>
</div>

<div style="float: left;margin: 20px;">
<h4>Registro de abastecimientos</h4>
<p><br/></p>
<p>
	Filtrar resultados por fotocopiadora:
	<form action="" method="get">
		<select name="filtro">
		<!-- START ftc -->
			<option value="{id}">{nombre}</option>
		<!-- END ftc -->
		</select>
		<input type="hidden" name="tipo_filtro" value="fotocopiadora" />
		<button type="submit" class="button">Aplicar</button>
		<button type="button" class="button" onclick="location.href='/umedia/abastecimiento/nuevo_abastecimiento'">Todas</button>
	</form>
</p>
<p><br/></p>
<table>
<thead>
	<tr>
	<th>Id</th>
	<th>Realizado por</th>
	<th>Fotocopiadora</th>
	<th>Cantidad</th>
	<th>Fecha / Hora de suministro</th>
	<th>Confirmado</th>
	<th>Anulado</th>
	<th>Opciones</th>
	</tr>
</thead>
<tbody>
	<!-- START registros -->
	<tr>
		<td>{id}</td>
		<td>{u_{usuario}}</td>
		<td>{f_{fotocopiadora}}</td>
		<td>{cantidad}</td>
		<td>{fecha_hora}</td>
		<td><img src="../static/img/status_{confirmado}.jpg"></td>
		<td><img src="../static/img/status_{anulado}.jpg"></td>
		<td><a href="javascript:void(0)" class="button" onclick="anular_registro({id});">Anular</a></td>
		</form>
	</tr>
	<!-- END registros -->
</tbody>
</table>
<p>{paginacion}</p>
</div>
</div>
<script>
	function anular_registro(id_){
		var con = confirm("Confirma que desea anular esta transaccion? Esto no se puede deshacer, no lo haga si no esta seguro de ello");

		if(con){

			location.href='/umedia/abastecimiento/anular?id='+id_;
		}
	}
</script>