<a href="/umedia/system/principal" class="button"><span><span><strong>Volver</strong></span></span></a>
<p><br/></p>
<p><br/></p>
<form method="POST" id="reg-form" style="border: solid 1px #d3d3d3;padding: 20px;width: 300px;margin: 0 auto;background: #eeeeee;" action="/umedia/usuario/guardar_usuario_copiadora" >
	<h4>Registro de usuarios para fotocopiadoras</h4>
	<p><br/></p>
	<p><br/></p>
	Primer nombre: <input type="text" style="width: 100%;padding: 4px;" name="primer_nombre" requerido>
	<br/>
	Segundo nombre: <input type="text" style="width: 100%;padding: 4px;" name="segundo_nombre">
	<br/>
	Primer apellido: <input type="text" style="width: 100%;padding: 4px;" name="primer_apellido" requerido>
	<br/>
	Segundo apellido: <input type="text" style="width: 100%;padding: 4px;" name="segundo_apellido">
	<br/>
	Correo: <input type="text" style="width: 100%;padding: 4px;" name="correo"/>
	<br/>
	Fecha de nacimiento: <input type="date" style="width: 100%;padding: 4px;" name="fecha_nacimiento" requerido>
	<br/>
	Clave: <input type="password" style="width: 100%;padding: 4px;" name="clave"/>
	<br/>
	Repetir Clave: <input type="password" style="width: 100%;padding: 4px;" name="clave2"/>
	<br/>
	Fotocopiadora: 
	<select name="fotocopiadora" style="width: 100%;padding: 4px;">
		<!-- START fotocopiadoras -->
		<option value="{id}">
			{nombre}
		</option>
		<!-- END fotocopiadoras -->	
	</select>
	<br/><br/>
	<button type="submit" class="button">Registrar</button>
</form>
<p><br/></p>
<p><br/></p>
<div class="tile">
	<table>
		<thead>
			<tr>
				<th>Empleado</th>
				<th>Copiadora</th>
			</tr>
		</thead>
		<!-- START empleado_copiadora -->
		<tr>
			<td>{correo}</td>
			<td>{nombre}</td>
		</tr>
		<!-- END empleado_copiadora -->
	</table>
</div>