<script type="text/javascript">
	 $(document).ready(function(){
	 	var contador=0;
	 	$("#bttn").click(function(){

	 	$('input[type=checkbox]').each(function(){
	 		if(this.checked){
	 			contador++;
	 			if(contador<=3)
	 			this.name="pasatiempo_"+contador;
	 		}
	 	});
	 	});
	 });//Fin del ready.

 	var patron_dui = new Array(8, 1);
    var patron_nit = new Array(4, 6, 3, 1);
    var patron_telefono = new Array(4, 4);
    var patron_fecha = new Array(4, 2, 2);

    function mascara(d, sep, pat, nums) {
        if (d.valant != d.value) {
            val = d.value
            largo = val.length
            val = val.split(sep)
            val2 = ''
            for (r = 0; r < val.length; r++) {
                val2 += val[r]
            }
            if (nums) {
                for (z = 0; z < val2.length; z++) {
                    if (isNaN(val2.charAt(z))) {
                        letra = new RegExp(val2.charAt(z), "g")
                        val2 = val2.replace(letra, "")
                    }
                }
            }
            val = ''
            val3 = new Array()
            for (s = 0; s < pat.length; s++) {
                val3[s] = val2.substring(0, pat[s])
                val2 = val2.substr(pat[s])
            }
            for (q = 0; q < val3.length; q++) {
                if (q == 0) {
                    val = val3[q]
                }
                else {
                    if (val3[q] != "") {
                        val += sep + val3[q]
                    }
                }
            }
            d.value = val
            d.valant = val
        }
    }

</script>
<h4>Atención!</h4>
<p style="background: #E14E3F; padding: 10px;">
	Antes de poder disfrutar de nuestros beneficios es necesario que completes una encuesta. La información que debes
	llenar no es personal. Te agradecemos que te tomes tu tiempo para llenar esta encuesta.
</p>
<p><br/></p>
<form method="POST" id="g-info" action="/umedia/datos_usuario/guardar_datos_usuario" style="border: solid 1px #d3d3d3;padding: 20px;width: 300px;margin: 0 auto;background: #eeeeee;">
	<h4>Datos Personales</h4>
	<hr/>
	<input type="hidden" style="width: 100%;padding: 4px;" name="idusuario" value="{idusuario}">
	
	DUI:<input type="text" style="width: 100%;padding: 4px;" name="dui" onkeyup="mascara(this, '-', patron_dui, true)" maxlength="10" placeholder="00000000-0" required>
	Correo alternativo: <input type="email" style="width: 100%;padding: 4px;" name="correo_alternativo">
	Sexo:<select name="sexo" style="width: 100%;padding: 4px;"><br />
	<option value="0">Masculino</option>
	<option value="1">Femenino</option>
	</select>
	
	<p><br/></p>
	<h4>Dirección</h4>
	<hr/>
	Departamento: 
	<select name="departamento" style="width: 100%;padding: 4px;" required>
	<option value="SAN SALVADOR"> SAN SALVADOR</option>
	<option value="LA LIBERTAD"> LA LIBERTAD</option>
	<option value="SANTA ANA"> SANTA ANA</option>
	<option value="SAN MIGUEL"> SAN MIGUEL</option>
	<option value="AHUCHAPAN"> AHUCHAPAN</option>
	<option value="SONSONATE"> SONSONATE</option>
	<option value="CHALATENANGO"> CHALATENANGO</option>
	<option value="MORAZAN"> MORAZAN</option>
	<option value="LA UNION"> LA UNION</option>
	<option value="USULUTAN"> USULUTAN</option>
	<option value="LA PAZ"> LA PAZ</option>
	<option value="CUZCATLAN"> CUZCATLAN</option>
	<option value="CABANAS"> CABANAS</option>
	<option value="SAN VICENTE"> SAN VICENTE</option>
	</select>
	
	Ciudad de residencia: <input type="text" style="width: 100%;padding: 4px;" name="ciudad" required>
	<p><br/></p>
	<h4>Transporte</h4>
	<hr/>
	Tipo de transporte: <select name="tipo_transporte" style="width: 100%;padding: 4px;">
	<option value="Transporte publico">Transporte publico</option>
	<option value="Transporte privado">Transporte privado</option>
	<option value="Automovil propio">Automovil propio</option>
	<option value="Motocicleta"> Motocicleta </option>
	</select>
	
	<p><br/></p>
	<h4>Comunicaciones</h4>
	<hr/>
	Compañia de teléfono: <select name="compania_telefono" style="width: 100%;padding: 4px;">
	<option value="Claro">Claro</option>
	<option value="Tigo">Tigo</option>
	<option value="Movistar">Movistar</option>
	<option value="Digicel">Digicel</option>
	</select>
	<td>Tipo de Plan:<select name="tipo_plan_telefono" style="width: 100%;padding: 4px;">
	<option value="prepago">Prepago</option>
	<option value="postpago">Postpago</option></select>
	
	<p><br/></p>
	<h4>Información de estudios</h4>
	<hr/>
	Universidad: <input type="text" name="universidad" style="width: 100%;padding: 4px;" required>
	Carrera: <input type="text" name="carrera" style="width: 100%;padding: 4px;" required>
	Año de ingreso: <input type="text" name="anio_ingreso" style="width: 100%;padding: 4px;">
	Carnet: <input type="text" name="carnet" style="width: 100%;padding: 4px;" required >
	
	<p><br/></p>
	<h4>Información Comidas y Bebidas</h4>
	<hr/>
	Restaurante preferido: <input type="text" name="comida_rapida" style="width: 100%;padding: 4px;" required>
	Bebida preferida:<input type="text" name="bebida_favorita" style="width: 100%;padding: 4px;" required>
	

<p><br/></p>
<!-- INFORMACION DE BANCO -->
<h4>Información bancaria</h4>
<hr/>

<td>Nombre del banco: <select name="nombre_banco" style="width: 100%;padding: 4px;">
	<option value="sin cuenta bancaria">-</option>
	<option value="Banco Agricola">Banco Agricola</option>
	<option value="Banco CITY">Banco CITY</option>
	<option value="Banco Scotiabank">Scotiabank</option>
	<option value="Banco Davivienda">Banco Davivienda</option>
	<option value="Banco de America Central">Banco de America Central</option>
	<option value="Banco de Fomento Agropecuario">Banco de Fomento Agropecuario.</option>
	<option value="Banco Procredit">Banco Procredit</option>
	<option value="Banco Hipotecario">Banco Hipotecario</option>
	<option value="Banco GT Continental">Banco GT Continental</option>
	<option value="Banco Promerica">Banco Promerica</option>
	<option value="Bancofit">Bancofit</option>
</select>
Tipo de Tarjeta:<select name="tipo_tarjeta_bancaria" style="width: 100%;padding: 4px;"> 
	<option value="no posee tarjeta">-</option>
	<option value="Credito">Credito</option>
	<option value="Debito">Debito</option>
	</select>



<td>Tipo de Cuenta: <select name="tipo_cuenta" style="width: 100%;padding: 4px;">
<!-- Posee tarjeta de credito o debito-->	
	<option value="sin cuenta bancaria">-</option>
	<option value="Cuenta de Ahorro">Cuenta de Ahorro</option>
	<option value="Cuenta de Cheque">Cuenta de Corriente</option>
</select>
</tr>


<p><br/></p>
<!-- SOLO PARA LAS MUJERES -->
<h4>Marcas de preferencia</h4>
<hr/>
Marca de ropa:<input type="text" name="marca_ropa" style="width: 100%;padding: 4px;">
Marca de zapatos:<input type="text" name="marca_zapatos" style="width: 100%;padding: 4px;">
Marca de cosmeticos:<input type="text" name="marca_cosmeticos" style="width: 100%;padding: 4px;">
<!-- -->
<p><br/></p>
<h4>¿Que te gusta hacer en tu tiempo libre?(Marca 3 alternativas)
Deportes extremos</h4>

<hr/>
<input type="checkbox"  value="Deportes extremos" >Deportes extremos <br />
<input type="checkbox"  value="Fútbol">Fútbol <br />
<input type="checkbox"  value="Leer">Leer <br />
<input type="checkbox"  value="Moda">Moda <br />
<input type="checkbox"  value="Nadar">Nadar <br />
<input type="checkbox"  value="Música">Música <br />
<input type="checkbox"  value="Running">Running <br />
<input type="checkbox"  value="Ciclismo">Ciclismo <br />
<input type="checkbox"  value="Tecnología">Tecnología <br />
<input type="checkbox"  value="Vida nocturna">Vida nocturna <br />
<input type="checkbox"  value="Tenis">Tenis <br />
<input type="checkbox"  value="Viajar">Viajar <br /><br />

<button type="submit" id="bttn" class="button"> Guardar</button>
</form>