<a href="/umedia/system/principal" class="button"><span><span><strong>Volver</strong></span></span></a>
<div style="display: table;">
<p><br/></p>
<p><br/></p>
<form method="POST" id="reg-form" action="/umedia/datos_fotocopiadora/guardar_datos_fotocopiadora" style="border: solid 1px #d3d3d3;padding: 20px;width: 350px;margin: 0 auto;background: #eeeeee;">
	<h4> Registrar una nueva fotocopiadora </h4>
	<p><br/></p>
	Nombre local: <input name="nombre" style="width: 100%;padding: 4px;" type="text" required>
	<br/>
	Nombre del encargado/a : <input name="encargado" style="width: 100%;padding: 4px;" type="text" required>
	<br/>
	Teléfono: <input name="telefono" type="text" style="width: 100%;padding: 4px;" required>
	<br/>
	Correo: <input name="correo" type="email" style="width: 100%;padding: 4px;" required>
	<br/>
	Dirección: <input name="direccion" type="text" style="width: 100%;padding: 4px;" required>
	<br/><br/>
	<button type="submit" class="button">Registrar Fotocopiadora</button>
</form>

<p><br/></p>
<p><br/></p> 

<table>
	<caption>Fotocopiadoras registradas</caption>
	<thead>
		<tr>
		<th>Nombre</th>
		<th>Encargado</th>
		<th>Teléfono</th>
		<th>Correo</th>
		<th>Dirección</th>
		<th>Copias disponibles</th>
		<th>Acción</th>
		</tr>
	</thead>
	<tbody>
<!-- START lista_fotocopiadora -->
	<tr>
		<td>{nombre}</td>
		<td>{encargado}</td>
		<td>{telefono}</td>
		<td>{correo}</td>
		<td>{direccion}</td>
		<td>{copias_disponibles}</td>
		<td>
			<a href="javascript:void(0);" onclick="eliminar_fotocopiadora('{id}','{nombre}', '{encargado}');">Eliminar</a> /
			<a href="/umedia/datos_fotocopiadora/editar_datos_fotocopiadora?id={id}">Editar</a>
	</tr>
<!-- END lista_fotocopiadora -->
	</tbody>
</table>
</div>
<p><br/></p>
<p><br/></p>
<script type="text/javascript">
	function eliminar_fotocopiadora(id,nombre,encargado){
		var c=confirm("Esta a punto de eliminar la fotocopiadora: "+nombre+"  con el encargado:"+encargado+" \n Desea proseguir?");
		if(c){
			location.href='/umedia/datos_fotocopiadora/eliminar_datos_fotocopiadora?id='+id;
		}
	}
</script>