<a href="/umedia/system/principal" class="button"><span><span><strong>Volver</strong></span></span></a>
<p><br/></p>
<h4>Despacho de copias</h4>
<div class="tile shadow bg2" style="text-align:right;">
<form method="POST" action="/umedia/control_copia/guardar_despacho">
	Id usuario:<input type="text" id="id_usuario" name="id_usuario" onchange="cargar_datos();" autofocus>
	<br />
	Copias a entregar: <input type="text" id="cantidad" onkeyup="validar_cantidad();" name="cantidad">
	<br />
	<br/>
	<button type="submit" class="button"> Despachar copias</button>
	<hr/>
	<h4>Datos del usuario</h4>
	<table style="width: 600px;">
	<tr>
	<td>Copias disponibles:</td><td> <strong><span id="copias_d">0</span></strong></td>
	</tr>
	<tr>
	<td>Correo:</td><td> <strong><span id="correo"></span></strong></td>
	</tr>
	<tr>
	<td>Nombre:</td><td> <strong><span id="nombre"></span></strong></td>
	</tr>
	</table>
</form>
</div>

<div class="tile bg1 double">
<p><br/></p>
<p><br/></p>
<h4>Registro de transacciones</h4>
<p><br/></p>
{paginacion}
<table>
	<thead>
		<th>Correo del estudiante</th>
		<th>Fecha</th>
		<th>Fotocopiadora</th>
		<th>Cantidad</th>
	</thead>
	<tbody>
		<!-- START lista_transacciones -->
		<tr>
			<td>{correo}</td>
			<td>{fecha}</td>
			<td>{f_{fotocopiadora}}</td>
			<td>{cantidad}</td>
		</tr>
		<!-- END lista_transacciones -->
	</tbody>
</table>
</div>
<p><br/></p>
<p><br/></p>
<script>
	function cargar_datos(){
		uri  = "/umedia/usuario/cargar_datos";
		data = {
			"id_usuario": $('#id_usuario').val()
		};

		$.post(uri, data, function(d){
			if(d.message){
				alert(d.message);
				$('#copias_d').html(0);
				$('#correo').html("");
				$('#nombre').html("");
			}else{
				$('#copias_d').html(d.copias_disponibles);
				$('#correo').html(d.correo);
				$('#nombre').html(d.nombre);
			}
		}, "json");
	}

	function validar_cantidad(){
		var cantidad = $('#cantidad').val();
		if(isNaN(cantidad)){
			$('#cantidad').val("");
		}
	}
</script>