<form method="POST" action="/umedia/usuario/guardar_usuario">
Correo: <input type="email" name="correo" required>
<br/>
Clave: <input type="password" name="clave" required>
<br/>
Repita su clave: <input type="password" name="clave2" required>
<br/>
<button type="submit"> Registrar </button>
</form>