<a href="/umedia/system/principal" class="button"><span><span><strong>Volver</strong></span></span></a>
<p><br/></p>
<h4>Pedidos pendientes</h4>
<p>Solo confirme los pedidos hasta que haya recibido las páginas para fotocopias</p>
<p><br/></p>
<p><br/></p>
<table>
<thead>
	<tr>
	<th>Id</th>
	<th>Realizado por</th>
	<th>Fotocopiadora</th>
	<th>Cantidad</th>
	<th>Fecha / Hora de suministro</th>
	<th>Opciones</th>
	</tr>
</thead>
<tbody>
	<!-- START registros -->
	<tr>
		<td>{id}</td>
		<td>{u_{usuario}}</td>
		<td>{f_{fotocopiadora}}</td>
		<td>{cantidad}</td>
		<td>{fecha_hora}</td>
		<td><a href="javascript:void(0)" class="button" onclick="confirmar_pedido({id});"><span><span><strong>Confirmar</strong></span></span></a></td>
		</form>
	</tr>
	<!-- END registros -->
</tbody>
</table>
<p>{paginacion}</p>
<script>
	
function confirmar_pedido(id_){
	var con = confirm("Solo confirme una entrega si han recibido las paginas para fotocopias, esta accion no se puede deshacer, esta segudo de querer confirmar esta transaccion?");

	if(con){
		location.href="/umedia/abastecimiento/confirmar?id="+id_
	}
}

</script>