<br/>
<div>
Correo: {correo} [ Id: {id} ]
</div>
<div style="float: left; min-height: 100px; border: solid 1px #d3d3d3; margin: 15px; padding: 10px; width: 200px; text-align: center; box-shadow: 2px 2px 2px #d3d3d3;">
	Copias disponibles esta semana
	<br/>
	<br/>
	{n_copias}
</div>
<div style="float: left;min-height: 100px; border: solid 1px #d3d3d3; margin: 15px; padding: 10px; width: 200px; text-align: center; box-shadow: 2px 2px 2px #d3d3d3;">
	Copias usadas hasta el momento
	<br/>
	<br/>
	{n_copias_u}
</div>
<div style="float: left;min-height: 100px; border: solid 1px #d3d3d3; margin: 15px; padding: 10px; width: 200px; text-align: center; box-shadow: 2px 2px 2px #d3d3d3;">
	Tus copias se renovarán el día
	<br/>
	<br/>
	{dia}
</div>

	<a href="/umedia/usuario/editar" class="button"><span><span>Editar mi cuenta</span></span></a>

<div style="clear:both;"></div>