body{
	background: #2C3E50;
	color: #F3F3F3;
	font-family: sans-serif;
}

#login-form{
	width: 300px;
	padding: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0 auto;
	text-align:  right;
	color: white;
}

a{
	color: white;
}

.bg1{
	background: #A95455;
}

.bg2{
	background: #A25D51;
}


.shadow{
	box-shadow: 2px 2px 2px #000;
}

.tile{
	padding: 20px;
	margin: 20px;
	width: 320px;
	min-height: 220px;
	float:left;
}

.double{
	width: 480px;
}

#login-form *{
	margin: 7px;
}
.topbar{
	background: #DFE2E1;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 2px #000;
}

button, .button{
	background: #E14E3F;
	border: none;
	color: white;
	padding: 5px;
	font-weight: bold;
	text-decoration: none;
}

#reg-form{
	margin-top: 30px;
	border: solid 1px #F3F3F3;
	text-align: right;
	padding: 20px;
}

input[type="text"] , input[type="password"], input[type="date"],input[type="email"]{
	border: none;
	margin: 2px;
	padding: 3px;
}

#g-info{
	width: 400px;
	margin: 0 auto;
	border: solid 1px #f3f3f3;
	padding: 30px;
}

.big{
	font-size: 20px;
	text-align: center;
}

table{
	border-collapse: collapse;
	text-align: center;
	margin-top: 40px;
}

table caption{
	font-weight: bold;
	margin-bottom: 10px;
}

table th, table td{
	padding: 5px;
}

table td, table th {
	border: solid 1px #d3d3d3;
}

table thead{
	background: white;
	color: #000;
}